.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
  }

  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
  }
  
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
  }
  
  .sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
  }

  main {
    padding-top: 90px;
  }

.bg-primary {
    background-color: #212a32 !important;
}

a.navbar-brand {
    line-height: 50px;
}

.nav-pills .nav-link {
    border-radius: 0.30rem 0 0 0.30rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000;
    background-color: #E1E1E1 !important;
}

.nav-pills a {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    background-color: #efefef;
}

.bg-light{
    background: #ececec;
}